.steps {
  margin-top: 6em;
  border: 2px solid #f8abab;
  border-radius: 30px;
  padding: 2em;
  margin-bottom: 2em;
}

.container .steps {
  margin-top: 6em;
  text-align: center;
}

.container .pendingStyle {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  align-items: center;
  border: 2px solid #c7db0f;
  border-radius: 30px;
  padding: 2em;
  margin-bottom: 2em;
}
.user-frame {
  border: 2px solid #c7db0f;
  border-radius: 30px;
  text-align: center;
  padding: 20px;
  width: 100%;
}
.button-pending {
  border-radius: 20px;
  font-size: 15px;
  border-color: #ff0000;
  color: #3f4137;
  background-color: transparent;
}
.button-pending:hover {
  color: #dbe735;
  background-color: #ff0000;
  box-shadow: 5px 10px #7c7c7c;
}
.button-Approved {
  border-radius: 20px;
  font-size: 20px;
  background-color: #00ff40;
  color: #3f4137;
}
.button-Rejected {
  border-radius: 20px;
  font-size: 20px;
  background-color: #ff3c00;
  color: #3f4137;
}
.quantity::-webkit-inner-spin-button,
.quantity::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* verifData.jsx */
.image-Profile {
  margin: 0 auto;
  display: block;
}
.img-id {
  padding-right: 10px;
  width: 100%;
  margin: 2em;
}
.user-imgs {
  display: flexbox;
  width: 100%;
  justify-items: center;
  align-items: center;
  padding-left: 5em;
  padding-right: 5em;
}
.btn-style {
  text-align: center;
  padding: 10px;
}
.btn-Approved {
  border-radius: 20px;
  font-size: 15px;
  border-color: #00ff40;
  color: #1e1f1b;
  background-color: transparent;
  margin: 10px;
  padding-right: 40px;
  padding-left: 40px;
}
.btn-Approved:hover {
  color: #2c2c2a;
  background-color: #00ff40;
}
.btn-Rejected {
  border-radius: 20px;
  font-size: 15px;
  border-color: #f51616;
  color: #1e1f1b;
  background-color: transparent;
  margin: 10px;
  padding-right: 40px;
  padding-left: 40px;
}
.btn-Rejected:hover {
  color: #2c2c2a;
  background-color: #ff0000;
}
